  <div class="main-container">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="-form ">
          <div class="mt-3 ">
            <%= simple_form_for(@island) do |f| %>
              <h1>Add a new Island 🏝️</h1>
              <div class="form-group">
                <%= f.label :name, label: "Enter your Island name:" %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :location, label: "Enter the location:" %>
                <%= f.text_field :location, class: 'form-control' %>
              </div>
                <div class="form-group">
                <%= f.label :description, label: "Enter a nice description:" %>
                <%= f.text_field :description, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :price_by_night, label: "Enter the price per night: €" %>
                <%= f.text_field :price_by_night, class: 'form-control' %>
              </div>
                <br>
                <div class="form-group">
                  <%= f.label :description, label: "Upload up to 3 pictures:" %>
                  <%= f.input :photo, label: "Add a picture" %>
                  <%= f.input :phototwo, as: :file, label: "Add a picture" %>
                  <%= f.input :photothree, as: :file, label: "Add a picture" %>
                </div>
              <div class="mt-3">
                <%= f.submit class: 'btn btn-secondary' %>
                <%= link_to 'Cancel', islands_path, class: 'btn btn-dark ml-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
