
<div class="container d-flex flex-wrap justify-start">
  <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
      <div class="card-product">
        <div class="card-product-infos">
          <img src="https://res.cloudinary.com/dovu27lye/image/upload/v1566247165/michael-DXQB5D1njMY-unsplash_ow9s7s.jpg" />
          <h2><%= island.name %></h2>
          <p> Location: <%= island.location %></p>
          <p><%= island.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="card-trip">
    <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= island.name %></h2>
      <p> Location: <%= island.location %></p>
      <p><%= island.description %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
  <% end %>
  <% end %>
</div>
