<div class="banner">
  <a href="#recommandations" class="btn btn-success p-3 m-5">Book an island!</a>
</div>
<div class="main-container .ml-md-3 .ml-lg-0">
  <h1 class="text-center">Our recommandations</h1>
  <div id ="recommandations" class=" d-flex flex-wrap justify-content-between">
    <% @islands.each do |island| %>
      <%= link_to island_path(island) do %>
        <div class="card-trip">
            <img src= <%= island.photo %> >
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing"> <%= island.price_by_night %>€ / night </h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
