<div class="banner">
  <div class="container d-flex justify-content-center">
  <h3><span id="banner-typed-text" style="color: white"></span> </h3>
  </div>
  <div class="container d-flex justify-content-center">
  <a href="#recommandations" class="btn btn-outline-light btn-lg">Book an island🏝️</a>
  </div>
</div>
<div class="main-container .ml-md-3 .ml-lg-0">
  <h1 class="text-center">Our recommandations</h1>
  <%= form_tag root_path, method: :get do %>
    <div id="search-bar" class= "d-flex justify-content-center mt-5 mb-5">
      <div>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an island"
      %>
      </div>
      <div>
        <%= submit_tag "Search", class: "btn btn-primary search-button" %>
      </div>
    </div>
  <% end %>

  <div id ="recommandations" class=" d-flex flex-wrap justify-content-center">
    <% @islands.each do |island| %>
      <%= link_to island_path(island) do %>
        <div class="card-trip">
            <img src= <%= island.photo %> >
            <div class="card-trip-infos">
              <div>
                <h2><%= island.name %></h2>
                <p><%= island.location %></p>
              </div>
              <h2 class="card-trip-pricing"> <%= island.price_by_night %>€ / night </h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

